
* {
    margin: 0;
    padding: 0;
}

body {
    padding: 16px;
}

h1 {
    margin: 16px;
}

h1,
h2 {
    text-align: center;
}

fieldset {
    margin: 16px 0;
    padding: 16px 0;
}

fieldset * {
    margin-bottom: 16px;
}

fieldset *:last-child {
    margin-bottom: 0;
}

.grid {
    display: grid;
    gap: 16px;
}

.padding {
    padding: 0 16px;
}

.grid.columns-2 {
    grid-template-columns: 1fr 1fr;
}

button {
    cursor: pointer;
    padding: 16px;
}

.code-block {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    font-family: 'Courier New', monospace;
    white-space: pre;
    overflow: auto;
    width: auto;
    height: auto;
    border-radius: 5px;
}
